/*#102EEF, #EAEBF5 y #FEFEFE**/

.area_usuario{

    background-color: #102EEF;
    color: #EAEBF5;
}

.reg_usuario{

    background-color: #102EEF;
    color: #EAEBF5;
}

.area_supervisores{

    background-color: #102EEF;
    color: #EAEBF5;
}
